/* FONTE ROBOTO*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

/*****************************************RESET ELEMENTS*/

* {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	background: none;
}

p {
	font-weight: lighter;
}

a:link {
	text-decoration: none;
	transition-duration: .5s;
	color: unset;
}

a:link:hover {
	text-decoration: none;
	color: dodgerblue;
	transition-duration: .5s;
}
a:visited{
	color: rgb(14, 70, 122);
}

ul, li {
	margin-left: 10px;
}


/***************************************** BACKGROUND COLORS */

.light-blue {
	background: lightblue;
}

.white {
	background: white;
}

.grey {
	background: gray;
}

.cyan-lighten-3 {
	background: #80deea;
}

.linear-gradient {
	background: linear-gradient(transparent, rgba(0, 0, 0, .5), rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
}


/*****************************************ICONS*/

.icon {
	display: inline-flex;
	width: 32px;
	height: 32px;
	margin: auto 0;
}

.icon > div {
	width: 90%;
	height: 90%;
	margin: 10%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.facebook-icon {
	background-image: url(../img/icons/facebook.svg);
}

.linkedin-icon {
	background-image: url(../img/icons/linkedin.svg);
}

.github-icon {
	background-image: url(../img/icons/github.svg);
}

.back-post-icon {
	background-image: url(../img/icons/back-post.svg);
	transition: all .5s;
}

.back-post-icon:hover {
	transform: translateX(-8px) scaleX(.8);
}

.linear-transparent-mask {
	-webkit-mask-image: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), transparent);
}


/***************************************** TEXT COLORS */

.text-white {
	color: white !important;
}

.text-black {
	color: #242729 !important;
}

.text-grey-lighten-1 {
	color: #bdbdbd;
}

.text-grey {
	color: #9e9e9e;
}

.text-grey-darken-3 {
	color: #424242 !important;
}

.text-grey-darken-4 {
	color: #212121 !important;
}


/*
***************************************** TEXT LAYOUT */

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-center-midle {
	vertical-align: super;
}

.text-inline {
	display: inline;
}

.text-small {
	font-size: small;
}

.text-medium {
	font-size: medium;
}


/****************************************TEXT LINKS*/

h4 > a {
	text-decoration: underline;
	font-variant: all-small-caps;
}


/*****************************************LAYOUT*/

.margin-right-3vw {
	margin-right: 3vw;
}

.container {
	margin: 0;
	width: 100%;
}

.paper-header {
	height: 35vh;
}

#pageButton {
	cursor: pointer;
}


/*****************************************NAV-BAR*/


/* DYNAMIC MENU BUTTON*/

#menuButton {
	display: none;
}

#menuButton + label span {
	width: 9vh;
	height: 9vh;
	margin-left: 5vw;
	z-index: 5;
	display: block;
	position: fixed;
	margin-top: 5vh;
	background-image: url(../img/perfil.jpg);
	background-size: cover;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s;	
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.1));	
}

#menuButton:checked + label span {
	width: 10vh;
	height: 10vh;
	margin-left: 10vw;
}

#menuButton:checked ~ nav {
	opacity: 1;
	display: block;
	left: 0;
	transition: all 0.3s cubic-bezier(0.15, 0.24, 0, 1.02);
}

nav {
	opacity: 0;
	z-index: 4;
	left: calc(-100vw);
	width: 100vw;
	height: 100vh;
	min-width: 200px;
	position: fixed;
	background: white;
	box-shadow: white 10px 0px 50px 25px;
	transition: all 0.3s cubic-bezier(0.68, 0.01, 0.88, 0.43);
}

ul.menu , .menu>ul {
	margin: 20vh 5vw 0 10vw;
	list-style: none;
	width: auto;
}
.menu-item , .page_item{
	margin: 0;
	padding: 0;
    color: darkgray;
	display: block;
	line-height: 5vh;
	padding-top: 10vh;
	font-size: 3vh;
}

.current-menu-item > a ,.page_item.current_page_item {
	color: #D8D8D8;
}


/*****************************************HEADER*/

.header-container {
	height: 70vh;
	min-height: fit-content;
}

.header {
	padding: 20vh 5vw 10vh 5vw;
	margin: auto;
	max-width: 1000px;
}

.header > .h1 {
	color: #333;
	font-weight: bold;
	font-size: 40px;
	word-wrap: normal;
}

.header > .meta {
	padding-top: 5vh;
	font-weight: 100;
	font-size: 1.5rem;
}


/*****************************************PORTIFOLIO CARDS*/

.cards-container {
	max-width: 1100px;
	margin: auto;
	flex-flow: row wrap;
	justify-content: space-between;
	display: flex;
	padding: 5% 0 5% 0%;
	height: fit-content;
}


/* apply to empty expansion container and child the card layout */

#empty-container, .portifolio-card {
	display: block;
	flex: 25 22 auto;
	width: 400px;
	height: 30vh;
	min-height: 350px;
	margin: 0 5% 5% 5%;
	transition: .5s ease-in-out;
}

.card-content {
	cursor: pointer;
	margin: auto;
	transition-duration: .5s;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, .8) 0px 0px 20px;
	background: black;
}

.card-content:hover {
	transition-duration: .5s;
	box-shadow: rgba(0, 0, 0, .8) 0px 5px 30px;
}

.card-description {
	bottom: 0;
	position: absolute;
	height: 60%;
	width: 100%;
	padding: 10vh 0% 5vh 0%;
}

.card-description > * {
	box-sizing: border-box;
	margin-left: 5%;
	margin-right: 5%;
}

.card-title {
	margin-top: 5vh;
	text-shadow: rgba(0, 0, 0, .6) 0 0 20px;
	height: auto;
	max-height: 30%;
}

.card-category {
	opacity: .8;
	height: auto;
	max-height: 40%;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.card-excerpt {
	padding-top: 2vh;
	opacity: .6;
	height: auto;
	max-height: 35%;
}


/*!important due necessary*/

.img-portifolio-card {
	height: 100% !important;
}


/****************************************BLOG CARDS */

.paper-card-content {
	cursor: pointer;
	margin: auto;
	transition-duration: .5s;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.paper-card-content:hover {
	transition-duration: .5s;
	transform: scale(1.01);
}


/**************************************** BLOG CONTENT */

.paper {
	margin: -30vh auto auto auto;
	box-sizing: border-box;
	min-height: 500px;
	height: auto;
	border-radius: 5px;
	padding: 2vh 5vw 3vh 5vw;
	box-shadow: rgba(0, 0, 0, .4) 0 5px 10px 0px;
}

.paper-gallery-bg {
	height: auto;
	width: 100vw;
	margin: 0;
	padding: 0;
}

.bread-crumbs {
	margin: 5vh 0 1vh 0;
	text-align: left;
	font-size: medium;
	font-weight: 100;
}
.content{
	padding: 10px 0 25px 0;
}
.content p {
	margin : 10px 0 20px 0;
}
.content h1,.content h2,.content h3,.content h4,.content h5,.content h6 {
	margin : 20px 0 15px 0 ;
}

.content a {
	text-decoration: underline;
}
.content a:hover {
	color: dodgerblue;
	text-decoration-color: dodgerblue;
	text-decoration: underline;
}
.content ol *, .content ul *{
	margin: 20px unset;
}
.content ul,.content li,.content ol {
	margin-left: 10px;	
}
.content ul {
	list-style-type: disc;
}
.content > blockquote {
	padding : 10px 25px 10px 25px;
	color: gray;
}
.content > blockquote::before , .content > blockquote::after {
	font-family: serif;
	position: relative;
    display: block;
	font-size: 3rem;
	color: gray;
}
.content > blockquote::before {
	left: -2.5%;
	top : 20px;
	content: '\201D';
}

.content > blockquote::after {
	right: -100%;
	top: -20px;
	content :'\201C';
}
.content > p > img , .content img{
	margin: 2rem 0;	
	box-shadow: rgba(0,0,0,.5) 0px 3px 30px -5px;
}


.paper-container {
	padding: 10vh 5vw;
	max-width: 1000px;
	margin: auto;
}

.comments-area {
	padding: 10vh 0vw 5vh 0vw;
}

.comments-area > hr, .comments-area > h2 {
	margin: 4vh 0;
}

.wp-caption {
	text-align: center !important;
	width: 100% !important;
	height: auto !important;
	margin: 5vh 0 5vh 0;
}

.wp-caption-text {
	font-size: small;
	font-style: italic;
	padding-top: 5vh;
}


/****************************************FOOTER*/

.footer {
	padding: 5vh 0;
	height: 25vh;
	display: block;
	position: relative;
	bottom: 0;
	line-height: 7vh;
}

.links {
	vertical-align: middle;
	padding-top: 5vh;
}


/******************************* POST IMAGES */
p{
	width: auto;
}

img {
	border-radius: 5px;
}

.paper-container img {
	max-width: 100%;
	box-shadow: unset;
}

.paper-gallery-bg img {
	max-width: 100%;
	border-radius: 5px;
	box-shadow: hsla(0, 0%, 0%, 0.7) 0 5px 50px -10px;
}
.aligncenter {
	display: block;
	margin : auto;
	position: relative;
	text-align: center;
}


/******************************* ANIMATIONS CLASSES */


/* IMAGE PAN ANIMATION */

div > .effect-hover-pan {
	transition: cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-duration: 30s !important;
	background-size: cover !important;
	background-position: center left !important;
	background-repeat: no-repeat !important;
}

div:hover > .effect-hover-pan {
	background-position: center right !important;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-duration: 10s !important;
}


/* OPACITY CHANGE WHEN HOVER */

.animation-hover-fade {
	opacity: 0.5;
	transition-duration: .5s;
}

.animation-hover-fade:hover {
	opacity: 1;
	transition-duration: .5s;
}


/* SCROLL FADEIN ANIMATION */
.fade-in {
	animation-name: element-reveal;
	animation-duration: .7s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

.out-animation {
	animation: outlightbox 0.8s forwards;
}

.btn-not-opened > * {
	animation: alert-vibrate;
	animation-duration: 3s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}


/******************************* ANIMATIONS */

@keyframes alert-vibrate {
	0% {
		transform: translateX(0);
	}
	10% {
		transform: translateX(10px);
	}
	20% {
		transform: translateX(-10px);
	}
	30% {
		transform: translateX(5px);
	}
	40% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(2.5px);
	}
	60% {
		transform: translateX(-2.5px);
	}
	70% {
		transform: translateX(0);
	}
	80% {
		transform: translateX(0);
	}
	90% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes element-reveal {
	0% {
		transform: translateY(10vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}


/********************************* MEDIA QUERIES */


/* for resolutions below small phones */

@media screen and (max-width: 425px) {
	.card-description {
		height: 100%;
	}
	.card-title {
		margin-top: 10vh;
		margin-bottom: 5vh;
	}
	.card-category {
		opacity: .9;
	}
	.paper-container {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (min-width: 768px) {
	#menuButton + label span {
		width: 7vh;
		height: 7vh;
		margin-left: 5vw;
	}
	.header {
		max-width: 560px;
	}
	.header > .h1 {
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 768px) {
	.header > .h1 {
		font-size: 2rem;
		word-wrap: normal;
	}
	.header > .meta {
		font-size: 1.2rem;
	}
	#menuButton:checked + label span {
		width: 10vh;
		height: 10vh;
	}
}


/*below than Leptop and larger than small phone*/

@media screen and (max-width: 1024px) and (min-width: 426px) {
	#empty-container, .portifolio-card {
		height: 400px;
		min-height: 300px;
	}
	.card-description {
		box-sizing: border-box;
		height: 80%;
	}
	.card-excerpt {
		padding-top: 5vh;
		opacity: .6;
		bottom: 70vh;
	}
}

@media screen and (min-width: 1024px) {
	.header > .meta {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 1024px) {
	.header {
		max-width: 1200px;
		margin: auto;
	}
}

@media screen and (max-width: 1440px) {
	.header {
		max-width: 900px;
	}
}

@media screen and (min-width: 1440px) {
	.header > .h1 {
		font-size: 3rem;
	}
	.header > .meta {
		font-size: 2rem;
	}
	.header {
		max-width: 1000px;
	}
}